[tool.bumpversion]
current_version = "0.0.1"
parse = """(?x)
    (?P<major>[0-9]+)
    \\.(?P<minor>[0-9]+)
    \\.(?P<patch>[0-9]+)
    (?:
        -(?P<release>dev)
        (?:(?P<timestamp>[0-9]+))?
    )?
"""
serialize = [
  "{major}.{minor}.{patch}-{release}{timestamp}",
  "{major}.{minor}.{patch}-{release}",
  "{major}.{minor}.{patch}",
]

[tool.bumpversion.parts.release]
optional_value = "release"
values = [
  "dev",
  "release",
]

[[tool.bumpversion.files]]
filename = "pyproject.toml"
regex = true
search = '''(?P<prefix>^version\s*=\s*"){current_version}(?P<suffix>")'''
replace = '''\g<prefix>{new_version}\g<suffix>'''
